<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>DELETE PUSH SMS</title>
    </head>
    <body>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" layout:fragment="content">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Delete Push SMS</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Delete Push SMS</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form data-toggle="validator" role="form" th:object="${phsms}" th:action="@{/pushsms_submit/delete}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">BLOC 1</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>

                                <div class="card-body">

                                    <input type="hidden" th:field="*{id}"/>
                                    
                                     <div class="form-group">
                                        <label for="pushName">Push Name</label>
                                        <input type="text" required="true" class="form-control" th:field="*{pushName}"
                                               th:readonly="${enableEdit}"
                                               id="pushName" />
                                    </div>

                                    <div class="form-group">
                                        <label for="message">SMS Content</label>
                                        <textarea  rows = "5" class="form-control" th:field="*{message}"
                                                   th:readonly="${enableEdit}"
                                                   required="true"
                                                   id="message" >...</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="StartTime">Start Time</label>
                                        <div class="input-group date" id="startTime" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#startTime"
                                                   required="true" th:field="*{startTime}"   th:readonly="${enableEdit}"
                                                   />
                                            <div class="input-group-append" data-target="#startTime" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                     <div class="form-group">
                                        <label for="ServiceName">Service Name</label>
                                        <input type="text" required="true" class="form-control" th:field="*{service.ServiceName}"
                                               th:readonly="${enableEdit}"
                                               id="ServiceName" />
                                    </div>


                                    <div class="form-group">
                                        <label for="Description">Description</label>
                                        <textarea   class="form-control" th:field="*{description}" 
                                                    th:readonly="${enableEdit}"
                                                    id="description" rows="4"></textarea>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a th:href="@{/pushsms_submit/list}" class="btn btn-secondary" role="button" title="Back-To list">
                                <span aria-hidden="true"></span>Back To List
                            </a>

                            <button type="submit" class="btn btn-success float-right"  title="Delete Data">Delete</button>

                        </div>
                    </div>
                </form>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </body>
</html>
