<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>DELETE NOTIFICATION</title>
    </head>
    <body>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" layout:fragment="content">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Delete Notification</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Delete Notification</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form data-toggle="validator" role="form" th:object="${notif}" th:action="@{/notifications/delete}" method="post">
                     <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">BLOC 1</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>

                                <div class="card-body">

                                    <input type="hidden" th:field="*{id}"/>

                                    <div class="form-group">
                                        <label for="noficationName">Parameter Name</label>
                                        <input type="text" required="true" class="form-control" th:field="*{noficationName}"
                                               th:readonly="true" 
                                               id="noficationName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="notificationValue">Notification Value</label>
                                        <textarea  rows = "10" class="form-control" th:field="*{notificationValue}"
                                                   th:readonly="true" 
                                                   id="notificationValue" >...</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="Description">Description</label>
                                        <textarea   class="form-control" th:field="*{description}" 
                                                    th:readonly="true" 
                                                    id="description" rows="4"></textarea>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>


                         <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">BLOC 2</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>

                                <div class="card-body">

                                    
                                    <div class="form-group">
                                        <label for="Action">Command</label>
                                        <select  class="form-control"  th:field="*{command.commandName}" th:readonly="true"   id="promotion_filter" >
                                            <option th:value="'NONE'" th:text="NONE"></option>
                                            <option th:each="cmd : ${listCommand}"
                                                    th:value="${cmd.commandName}"
                                                    th:utext="${cmd.commandName}" />
                                        </select>
                                    </div>

                                  
                                    <div class="form-group">
                                        <label for="defaultValue">Notification Value</label>
                                        <textarea  rows = "10" class="form-control" th:field="*{defaultValue}"
                                                   th:readonly="true" 
                                                   id="defaultValue" >...</textarea>
                                    </div>

                                    <div class='input-group date' id='createTime'>
                                        <input type="hidden" class="form-control"  th:field="*{createTime}" 
                                               ng-model="dateString"  />
                                    </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a th:href="@{/notifications/list}" class="btn btn-secondary" role="button" title="Back-To list">
                                <span aria-hidden="true"></span>Back To List
                            </a>

                            <button type="submit" class="btn btn-success float-right"  title="Delete Data">Delete</button>

                        </div>
                    </div>
                </form>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </body>
</html>
